{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>Detalles del Videojuego: {{ videojuego.titulo }}</h1>
        <div class="col md-4">
            <img src="{{videojuego.imagen.url}}">
        </div>
        <div class="col md-6">
            <p>Genero: {{ videojuego.genero }}</p>
            <p>Año: {{ videojuego.fecha_lanzamiento }}</p>
            <p>Plataforma: {{ videojuego.plataforma }}</p>
            <p>Precio: {{ videojuego.precio }}</p>

            <button type="button" class="btn">
                <a href="{% url 'login' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </a>
            </button>
        </div>
        <div class="col md-2">
            {% for videojuego in videojuegos %}
            <table>
                <a href="{% url 'videojuego' videojuego.pk %}">
                    <img src="{{videojuego.imagen.url}}">
                </a>
                
            </table>
            {% endfor %}
        </div>

    </div>


    {% if videojuego.iframe_code %}
        <div>
            {{ videojuego.iframe_code|safe }}
        </div>
    {% endif %}

    <a href="{% url 'videojuego-update' videojuego.pk %}">Editar Videojuego</a>
    <a href="{% url 'videojuego-delete' videojuego.pk %}">Eliminar Videojuego</a>
{% endblock %}