{% extends "base.html" %}

{% block content %}
    <h1>Detalles de la Plataforma: {{ plataforma.nombre }}</h1>
    <p>Videojuegos relacionados:</p>
    <ul>
        {% for videojuego in plataforma.videojuego.all %}
            <li><a href="{{ videojuego.get_absolute_url }}">{{ videojuego.titulo }} (Año: {{ videojuego.anio }}, Cantidad: {{ videojuego.cantidad }})</a></li>
        {% endfor %}
        <a href="{% url 'plataforma-update' plataforma.pk %}">Editar Plataforma</a>
        <a href="{% url 'plataforma-delete' plataforma.pk %}">Eliminar Plataforma</a>
    </ul>
{% endblock %}
